@import url('https://fonts.googleapis.com/css?family=Titan+One');

.navbar {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 50px;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding-left: 50px
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    margin-right: 2rem;
}

.top-nav-menu {
    display: flex;
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
}

.nav-item {
    height: 50px;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.top-nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 4px solid orange;
    transition: all 0.2s ease-out;
}

.top-nav-links:hover {
    background-color: grey;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}
