.mainLayoutContainer {
  background-color: #F8F9FA;
  width: 100%;
  height: 80vh;
  padding: 0;
}

.breadcrumbContainer {
  padding-bottom: 10px;
  padding-left: 4%;
  padding-top: 10px;
}

.secondaryLayoutContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
}

.slideLayoutContainer {
  width: 80%;
  height: 100%;
  justify-content: center;
  display: flex;
}

.questionTitleContainer {
  justify-content: center;
  align-content: center;
  display: flex;
  padding-top: 1%;
}

.mediaContainer {
  /* border-style: solid;
  border-color: black;
  border-width: 2px; */
  height: 40%;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-content: center;
  display: flex;
  background-color: lightgray;
}

.triviaLayoutContainer {
  width: 90%;
  height: 90%;
  justify-content: center;
  align-content: center;
  background-color: #fffefb;
}

.triviaOptionsRowContainer {
  height: 20%;
  width: 100%;
  display: flex;
  padding: 2% 2% 0 2%;
}

.triviaOptionsRowContainerTrueFalse {
  height: 40%;
  width: 100%;
  display: flex;
  padding: 2% 2% 0 2%;
}

.triviaOptionContainer {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 49%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.triviaOptionColumnGap {
  height: 40%;
  width: 2%;
}

.triviaOptionRightSideCompartment {
  width: 20%;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.triviaOptionImageStyle {
  width: 100%;
  height: 50%;
  margin-top: 45%;
  object-fit: contain;
}

.triviaOptionImageStyleTrueFalse {
  width: 100%;
  height: 60%;
  margin-top: 100%;
  object-fit: contain;
}

.triviaOptionTextFieldStyle {
  /* margin: 6px 0; */
  margin-top: 20%;
  width: 60%;
}

.triviaOptionTextStyleTrueFalse {
  color: white;
  margin-top: 19%;
  width: 80%;
  font-size: 26px;
}